<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Visor</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div id="map"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
    <div id="barra-lateral">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Piloto la palma</h2>
        </div>
        <div class="mdl-card__supporting-text" id="contenido-barra-lateral">
          Levantamiento de información predios.
        </div>
        <!-- <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
          </a>
        </div> -->
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <!-- <i class="material-icons">share</i> -->
          </button>
        </div>
      </div>
    </div>
    <div id="shapefile-container">
        <i class="file archive outline icon"></i>
        <input type="file" id="file" accept=".zip">
    </div>
    <div id="cargando" class="hidden"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.3/proj4.js"></script>
</body>

</html>
