#barra-lateral {
  background-color: #eee;
  width: 300px;
  height: -webkit-calc(100% - 36px);
  height: -moz-calc(100% - 36px);
  height: calc(100% - 36px);
  position: absolute;
  right: 10px;
  top: 10px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../img/ide-at.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#contenido-barra-lateral {
  overflow-y: auto;
  position: absolute;
  margin: 10px;
  height: -webkit-calc(100% - 252px);
  height: -moz-calc(100% - 252px);
  height: calc(100% - 252px);
}

#contenido-barra-lateral p{
  line-height: 3px;
}

.titulo-propiedades{
  color: #B52025;
}
