#contenido-charts {
  overflow-y: auto;
  position: absolute;
  height: -webkit-calc(100% - 226px);
  height: -moz-calc(100% - 226px);
  height: calc(100% - 226px);
  width: 295px;
}

#contenido-charts > div {
  margin-bottom: 10px;
}

#select-chart {
  width: 200px;
  margin: 0 auto;
}

#select-chart select {
  padding: 5px;
  width: 100%;
  text-align: center;
}

#ver-en-mapa {
  width: 212px;
  margin: 0 auto;
}
